<div class="container">
    
    <div class="main">
        <h2>
        Listing all users</h1>
        <table>
            <tr>
                <th>
                    User class
                </th>
                <th>
                    test 
                </th>
            </tr>
            <% @users.each do |user| %>
            <tr>
                <td align="center">
                    <%=h user.user_name %>
                </td>
                <td align="center">
                    <%=button_to 'Delete',"/admin/deleteuser/#{user.id}", :method=>:delete %>
                </td>
                <td align="center">
                    <%if user.admin == 1%>
					<%=button_to 'Revoke Admin Status',"/admin/revokeadmin/#{user.id}", :method=>:post %>
					<%else%>
					<%=button_to 'Grant Admin Status',"/admin/makeadmin/#{user.id}", :method=>:post %>
					<%end%>
                </td>
            </tr>
            <% end %>
        </table>
    </div>
</div>
