<div id="container">
    <div id="main">
        <h2>Sign up for Backchannel Application</h2>
        <br/>
    </div>
    <%#= link_to 'Sign up', new_user_path %>
    <%#= link_to 'Sign up', new_user_path %>
</div>
